@import '../../App.variables.scss';

.not-found {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not-found__title {
    padding: 10px;
    font-size: $big-font * 3;
  }

  .not-found__subtitle {
    padding: 10px;
    font-size: $big-font;
  }

  @media screen and (min-width: 2000px) {
    .not-found__title {
      font-size: $big-font * 3 + 14px;
    }

    .not-found__subtitle {
      font-size: $big-font + 4px;
    }
  }

  @media screen and (max-width: 2000px) {
    .not-found__title {
      font-size: $big-font * 3 + 10px;
    }

    .not-found__subtitle {
      font-size: $big-font + 2px;
    }
  }

  @media screen and (max-width: 1440px) {
    .not-found__title {
      font-size: $big-font * 3;
    }

    .not-found__subtitle {
      font-size: $big-font;
    }
  }

  @media screen and (max-width: 1024px) {
    .not-found__title {
      font-size: $big-font * 2.8;
    }

    .not-found__subtitle {
      font-size: $big-font - 2px;
    }
  }

  @media screen and (max-width: 768px) {
    .not-found__title {
      font-size: $big-font * 2.5;
    }

    .not-found__subtitle {
      font-size: $big-font - 4px;
    }
  }
}
