@import '../../App.variables.scss';

.search-group {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #7f7f7f;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;

  .header & {
    display: none;
  }

  .header_sticky & {
    display: flex;
    width: 48%;
    background-color: #f7f7f7;
  }

  &:hover {
    background-color: #fff;
    outline: 1px solid #dfdfe0;

    .search-input {
      border-right: 1px solid #dfdfe0;
    }
  }

  .search-input {
    flex: 1;
    padding: 15px 4px 15px 20px;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;

    &::placeholder {
      font-family: inherit;
      font-size: $placeholder;
    }
  }

  .search-btn {
    padding: 1px 15px;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease;

    &:hover svg {
      fill: #96d5a4;
    }
  }
}
