@import '../../../App.variables.scss';

.images-list {
  padding: 60px;
  padding-bottom: 10px;
  min-height: 70vh;

  .category & {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .images-list__title {
    font-size: $title-font;
    line-height: 34px;
    text-align: left;
  }
}
