@import '../../../App.variables.scss';

.images-list {
  padding: 60px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;

  .category & {
    padding-top: 110px;
  }

  .images-list__title {
    font-size: $title-font;
    line-height: 34px;
    text-align: left;
  }
}
