@import '../../../App.variables.scss';

.image-item {
  margin: 0 auto;
  margin-bottom: 32px;
  height: auto;
  // width: 430px;
  position: relative;

  .image-item__img {
    width: 100%;
  }

  .btn-group {
    padding: 14px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%),
      linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);

    .btn-group__link {
      padding: 8px;
      margin-left: 4px;
      margin-right: auto;
      font-size: $placeholder;
      font-weight: 600;
      color: #fff;
      outline: none;
    }
  }

  @media screen and (min-width: 2000px) {
    .btn-group {
      padding: 18px;

      .btn-group__link {
        font-size: $placeholder + 4px;
      }
    }
  }

  @media screen and (max-width: 2000px) {
    .btn-group {
      padding: 16px;

      .btn-group__link {
        font-size: $placeholder + 2px;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .btn-group {
      padding: 14px;

      .btn-group__link {
        font-size: $placeholder;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      margin-bottom: 24px;
    }

    .btn-group {
      padding: 12px;

      .btn-group__link {
        font-size: $placeholder - 2px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .btn-group {
      padding: 10px;

      .btn-group__link {
        font-size: $placeholder - 4px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .btn-group {
      padding: 8px;
    }
  }

  @media screen and (max-width: 540px) {
    .btn-group {
      padding: 4px;

      .btn-group__link {
        margin-left: 0;
        font-size: $placeholder - 4px;
      }
    }
  }

  @media screen and (max-width: 460px) {
    .btn-group {
      padding: 8px;

      .btn-group__link {
        margin-left: 4px;
        font-size: $placeholder - 4px;
      }
    }
  }
}

.image-item__img:hover ~ .btn-group,
.btn-group:hover {
  display: flex;
}
