@import '../../../App.variables.scss';

.search-bar {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
    background-color: #000;
  }

  .search-bar__bg-img {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .search-bar__author {
    margin: 47px 20px 25px auto;
    font-size: $sm-font;
    letter-spacing: 0.3px;
    color: #7f7f7f;
    opacity: 0.7;
    transition: all 0.25s ease;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    .search-bar__author-name {
      font-weight: 600;
      color: #fff;
    }
  }

  .center-cont {
    padding-top: 50px;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .MuiCircularProgress-root {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .search-bar__title {
    font-size: $big-font;
    line-height: 40px;
  }

  .search-bar__list {
    .search-bar__list_text {
      margin-right: 8px;
      opacity: 0.7;
    }

    .search-bar__item {
      transition: all 0.2s ease-in;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @media screen and (min-width: 2000px) {
    .center-cont {
      max-width: 830px;
      row-gap: 50px;
    }

    .search-bar__title {
      font-size: $big-font + 4px;
      line-height: 48px;
    }

    .search-bar__author {
      font-size: $sm-font + 4px;
      letter-spacing: 0.4px;
    }
  }

  @media screen and (max-width: 2000px) {
    .center-cont {
      max-width: 730px;
      row-gap: 45px;
    }

    .search-bar__title {
      font-size: $big-font + 2px;
      line-height: 46px;
    }

    .search-bar__author {
      font-size: $sm-font + 2px;
      letter-spacing: 0.35px;
    }
  }

  @media screen and (max-width: 1440px) {
    .center-cont {
      max-width: 630px;
      row-gap: 40px;
    }

    .search-bar__title {
      font-size: $big-font;
      line-height: 44px;
    }

    .search-bar__author {
      font-size: $sm-font;
      letter-spacing: 0.3px;
    }
  }

  @media screen and (max-width: 1024px) {
    .center-cont {
      max-width: 530px;
      row-gap: 34px;
    }

    .search-bar__title {
      font-size: $big-font - 2px;
      line-height: 42px;
    }

    .search-bar__author {
      font-size: $sm-font - 2px;
      letter-spacing: 0.25px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 450px;

    .center-cont {
      padding-top: 30px;
      max-width: 560px;
      row-gap: 34px;
    }

    .search-bar__title {
      font-size: $big-font - 4px;
      line-height: 40px;
    }

    .search-bar__author {
      font-size: $sm-font - 4px;
      letter-spacing: 0.2px;
    }
  }

  @media screen and (max-width: 640px) {
    height: 410px;

    .center-cont {
      padding-top: 26px;
      max-width: 500px;
      row-gap: 30px;
    }
  }

  @media screen and (max-width: 540px) {
    height: 410px;

    .center-cont {
      padding-top: 26px;
      max-width: 420px;
      row-gap: 30px;
    }
  }

  @media screen and (max-width: 460px) {
    height: 480px;

    .center-cont {
      padding-top: 26px;
      max-width: 310px;
      row-gap: 30px;
    }
  }
}
