@import '../../App.variables.scss';

.images-list {
  padding: 60px 60px 0;
  min-height: 70vh;

  .category & {
    padding: 20px 0 10px;
  }

  .infinite-scroll-component {
    overflow: hidden !important;
  }

  .images-list__masonry {
    margin-left: -30px;
    width: auto;
    display: flex;
  }

  .images-list__masonry-column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .images-list__title {
    font-size: $title-font;
    line-height: 34px;
    text-align: left;
  }

  @media screen and (min-width: 2000px) {
    .images-list__masonry {
      margin-left: -45px;
    }

    .images-list__masonry-column {
      padding-left: 45px;
    }

    .images-list__title {
      font-size: $title-font + 4px;
      line-height: 38px;
    }
  }

  @media screen and (max-width: 2000px) {
    .images-list__masonry {
      margin-left: -40px;
    }

    .images-list__masonry-column {
      padding-left: 40px;
    }

    .images-list__title {
      font-size: $title-font + 2px;
      line-height: 36px;
    }
  }

  @media screen and (max-width: 1440px) {
    & {
      padding: 40px 40px 0;
    }

    .images-list__masonry {
      margin-left: -30px;
    }

    .images-list__masonry-column {
      padding-left: 30px;
    }

    .images-list__title {
      font-size: $title-font;
      line-height: 34px;
    }
  }

  @media screen and (max-width: 1024px) {
    .images-list__masonry {
      margin-left: -20px;
    }

    .images-list__masonry-column {
      padding-left: 20px;
    }

    .images-list__title {
      font-size: $title-font - 2px;
      line-height: 32px;
    }
  }

  @media screen and (max-width: 880px) {
    & {
      padding: 30px 30px 0;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      padding: 22px 22px 0;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      padding: 30px 18px 0;
    }

    .images-list__title {
      font-size: $title-font - 4px;
      line-height: 30px;
    }
  }
}
